@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
	font-variant: small-caps;
}

.signature{
	font-variant: small-caps;
}

.sign-mark{
	font-size: 200%;
}

[epub|type~="z3998:letter"] header{
	text-align: left;
}

[epub|type~="z3998:letter"] header p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:valediction"],
[epub|type~="z3998:sender"]{
	text-align: right;
}

table{
	border-collapse: collapse;
	border-style: none;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

td{
	text-align: center;
	border-style: none;
	padding: .5em;
	vertical-align: top;
}
