@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.sign-mark{
	font-size: 2em;
}

[epub|type~="z3998:letter"] header{
	text-align: initial;
}

[epub|type~="z3998:letter"] header p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"]{
	font-style: italic;
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:valediction"],
[epub|type~="z3998:sender"]{
	text-align: right;
}

#chapter-4 blockquote{
	text-align: center;
}

#chapter-4 blockquote p{
	display: inline-block;
	margin-top: 0;
	text-indent: 0;
	vertical-align: top;
}

#chapter-4 blockquote p + p{
	margin-left: 1em;
}
